# Core
Django==5.0.1
djangorestframework==3.14.0

# If you're using PostgreSQL
psycopg==3.1.17
# or psycopg2-binary==2.9.x

# Common optional helpers
dj-database-url==2.1.0
django-environ==0.11.2
whitenoise==6.6.0
gunicorn==21.2.0
drf-yasg==1.21.7
requests==2.31.0
